* {
    outline: 1px solid #ff0000;
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 4fr;
}

div.sidebar {
    grid-area: 1 / 1 / 6 / 1;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
}

div.sidebar div.sidebarlogoheader{
    grid-area: 1 / 1 / 1 / 3;
}

div.sidebar ul.icons{
    grid-column-start: 1;
}

div.sidebar ul.text{
    grid-column-start: 2;
}

div.sidebar ul.nav{
    grid-row-start: 2;
}

div.sidebard ul.settings{
    grid-row-start: 3;
}

div.header {
    grid-area: 1 / 2;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
}

div.topheader{
    grid-area: 1 / 1;
    display: grid;
    grid-template: 1fr / repeat(9, 1fr);
}

div.bottomheader{
    grid-area: 2/1;
    display: grid;
    grid-template-columns: repeat(9,1fr);
}

div.bottomheader div.new{
    grid-area: 1/7;
}
div.bottomheader div.upload{
    grid-area: 1/8;
}
div.bottomheader div.share{
    grid-area: 1/9;
}
div.content {
    grid-area: 2 / 2;
}